---
layout: index
title: Kirill Markin | founder ozma.io | contacts, media
description: Contacts and related URLs to Kirill Markin. Social media profiles, instagram, Linkedin, email and phone.
lang: en
---


<!-- MAIN CONTENT -->
<div id="main-page-content">
  <div class="left-column">
    <div class="personal-info">
      <h1 class="personal-name">{{ site.data.personal_info.name }}</h1>
    </div>
    <div class="personal-contacts">
      <div class="avatas-and-titils">
        <img src="/data/Kirill-Markin.webp" alt="Picture of {{ site.data.personal_info.name }}" width="100%">
        <div class="personal-titles">
          <p>{{ site.data.personal_info.job_title }}</p>
          <p>{{ site.data.personal_info.secondary_title }}</p>
          <p class="tertiary-title">{{ site.data.personal_info.tertiary_title }}</p>
        </div>
      </div>
      <div class="social-links">
        {% for link in site.data.social_links %}
          {% if link.avatar_contact == true %}
            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="social-link">
              <img src="{{ link.social_logo_url_default }}" alt="{{ link.name }}" class="icon-default">
              <img src="{{ link.social_logo_url_hover }}" alt="{{ link.name }}" class="icon-hover">
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="right-column">
    <div class="articles">
      <h2>Articles and mentions</h2>

      {% include media-mentions.html %}

    </div>
    <!-- <div class="other-language">
      {% assign non_en_mentions = site.data.media_mentions | where_exp: "item", "item.language != 'en'" %}
      <h2>In other languages ({{ non_en_mentions | size }})</h2>
      <div class="non-en-media-mentions">
        {% for media_mention in non_en_mentions limit:4 %}
          <a href="{{ media_mention.url }}" target="_blank" rel="noopener noreferrer" class="non-en-media-mention">
            <img src="data/icons/arrow.svg" alt="Arrow icon" class="arrow-icon">
            <span>{{ media_mention.alternative_title }}</span>
          </a>
        {% endfor %}
      </div>
    </div> -->
    </div>

</div>
