---
layout: index
title: Kirill Markin | founder ozma.io | contacts, media
description: Contacts and related URLs to Kirill Markin. Social media profiles, instagram, Linkedin, email and phone.
lang: en
---


<!-- MAIN CONTENT -->
<div id="main-page-content">
  <div class="left-column">
    {% include personal-info.html %}
  </div>

  <div class="right-column">
    <div class="articles">
      <h2 class="articles-heading">Article<span class="glitch-letter">s</span> and mention<span class="glitch-letter">s</span></h2>

      {% include media-mentions.html %}

    </div>
    <!-- <div class="other-language">
      {% assign non_en_mentions = site.data.media_mentions | where_exp: "item", "item.language != 'en'" %}
      <h2>In other languages ({{ non_en_mentions | size }})</h2>
      <div class="non-en-media-mentions">
        {% for media_mention in non_en_mentions limit:4 %}
          <a href="{{ media_mention.url }}" target="_blank" rel="noopener noreferrer" class="non-en-media-mention">
            <img src="data/icons/arrow.svg" alt="Arrow icon" class="arrow-icon">
            <span>{{ media_mention.alternative_title }}</span>
          </a>
        {% endfor %}
      </div>
    </div> -->
    </div>

</div>
