<div id="footer">
    <div class="footer-left-column">
      <div class="footer-personal">
        <div class="footer-name-box">
            <h2 class="footer-personal-name">{{ site.data.personal_info.name }}</h2>
        </div>
        <div class="footer-personal-titles">
            <p>{{ site.data.personal_info.job_title }}</p>
            <p>{{ site.data.personal_info.secondary_title }}</p>
            <p>{{ site.data.personal_info.tertiary_title }}</p>
        </div>
      </div>
      <div class="footer-personal-contacts">
    
      </div>
      <div class="footer-personal-social">
        
      </div>
    </div>
  
    <div class="right-column">
      <div class="footer-org">
        <h2 class="footer-org-name">Ozma io</h2>
      </div>
      
    </div>

    <div style="social-media-line">

    </div>
  
</div>