<div class="personal-info">
    <h1 class="personal-name" data-text="{{ site.data.personal_info.name }}">{{ site.data.personal_info.name }}</h1>
</div>
<div class="personal-contacts">
    <!-- Скрытый чекбокс для отслеживания чередования -->
    <input type="checkbox" id="toggle-state" class="toggle-state" hidden>
    
    <div class="avatas-and-titils">
        <div class="profile-image-container">
            <label for="toggle-state" class="toggle-trigger"></label>
            <img src="/data/Kirill-Markin.webp" alt="Picture of {{ site.data.personal_info.name }}" class="profile-image main-image" width="100%">
            <img src="/data/kirill-angel.webp" alt="Angel glitch effect" class="profile-image angel-image" width="100%">
            <img src="/data/kirill-devil.webp" alt="Devil glitch effect" class="profile-image devil-image" width="100%">
        </div>
        <div class="personal-titles">
        <p class="main-title">{{ site.data.personal_info.job_title }}</p>
        <p class="secondary-title">{{ site.data.personal_info.secondary_title }}</p>
        <p class="tertiary-title">{{ site.data.personal_info.tertiary_title }}</p>
        </div>
    </div>
    <div class="contact-bubbles">
        {% for link in site.data.social_links %}
        {% if link.avatar_contact == true %}
            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="contact-bubble">
                {% if link.social_logo_url_default %}
                <span class="contact-logo">
                    <img src="{{ link.social_logo_url_default }}" alt="{{ link.name }} logo" class="social-logo">
                </span>
                {% else %}
                <span class="contact-type">{{ link.name }}</span>
                {% endif %}
                <span class="contact-username">{{ link.username }}</span>
            </a>
        {% endif %}
        {% endfor %}
    </div>
</div>