---
sitemap:
  exclude: 'yes'
---

// @import "{{ site.theme }}";
html {
    background-color: #D6D6D6;
}

* {
  font-family: "Roboto", sans-serif !important;
}

header {
  display: none;
}

.outer {
  border-top-width: 0px!important;
  border-bottom-width: 0px!important;
}

footer {
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .col-md-3 {
        width: 30%;
        margin: 0;
        padding: 10px;

        @media screen and (max-width: 768px) {
            width: 95%;
            
            display: flex;
            justify-content: center;
        }
    }

    .col-md-9 {
      width: 70%;
      margin: 0;
      padding: 10px;

      display: flex;
      flex-direction: row;
      align-items: center;

      @media screen and (max-width: 768px) {
          width: 95%;
          padding: 0;
      }
    }
}

.img-header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border: none;
    width: 90%;
    border-radius: 30px;
    max-width: 20vh;
    margin: 0;
  }
}

h1 {
  // size between lines
  line-height: 1.2;
}

/* main-page-content  container */
#main-page-content, #footer {
    display: flex;
    justify-content: space-between;
  }
  
  /* Responsive layout for the resume page */
  @media (min-width: 1081px) {
  
    .left-column, .footer-left-column {
      width: 30%;
      display: block;
    }
  
    .right-column {
      width: 70%;
      display: block;
    }
    
  }
  
  @media (max-width: 1080px) {
    .left-column, .right-column {
      width: 100%;
    }
  }

.personal-info, .personal-contacts {
    border-right: 1px solid #232323;
    padding: 20px;
}
.personal-info {
    border-bottom: 1px solid #232323;
}
.articles, .other-language{
    // border-right: 1px solid black;
    padding: 20px;
}
.articles {
    border-bottom: 1px solid #232323;
}
body{
    margin: 0px;
    color: #232323;
}

#footer {
    background-color: #1A1A1A;
    color: #BCBCBC;
}

.social-media-line {
    background-color: #D4F361;
}

.personal-name {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    line-height: 0.9;
  }
  
.tertiary-title {
    font-style: italic;
    color: #232323;
}
.footer-personal-name, .footer-org-name {
    text-transform: uppercase;
    margin: 20px;   
}
.footer-name-box, .footer-org {
    border-bottom: 1px solid #AAAAAA;
}
.footer-left-column {
    border-right: 1px solid #AAAAAA;
}

.personal-contacts h3 {
    text-transform: uppercase;
}