---
sitemap:
  exclude: 'yes'
---

// @import "{{ site.theme }}";
html {
    background-color: #D6D6D6; 
}

* {
  font-family: "Neue Montreal", sans-serif !important;
}

header {
  display: none;
}

.outer {
  border-top-width: 0px!important;
  border-bottom-width: 0px!important;
}

footer {
    color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .col-md-3 {
    width: 30%;
    margin: 0;
    padding: 10px;

    @media screen and (max-width: 768px) {
      width: 95%;
      
      display: flex;
      justify-content: center;
    }
  }

  .col-md-9 {
    width: 70%;
    margin: 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 768px) {
        width: 95%;
        padding: 0;
    }
  }
}

.img-header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border: none;
    width: 90%;
    border-radius: 30px;
    max-width: 20vh;
    margin: 0;
  }
}

h1 {
  color: var(--black, #1A1A1A);
  font-size: clamp(24px, 5vw, 87px);
  font-style: normal;
  font-weight: 400;
  line-height: 81%;
  text-transform: uppercase;
  margin: 0;
  margin-top: 34px;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

/* main-page-content  container */
#main-page-content, .footer-column-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* Responsive layout for the resume page */
  @media (min-width: 1081px) {

    .left-column {
      border-right: 1px solid #232323;
    }

    .left-column, .footer-left-column {
      width: 25%;
      display: block;
    }
  
    .right-column {
      width: 75%;
      display: block;
    }
    
  }
  
  @media (max-width: 1080px) {
    .left-column, .right-column {
      width: 100%;
    }
  }

.personal-info, .personal-contacts {
    // border-right: 1px solid #232323;
    padding: 20px;
}
.personal-info {
    border-bottom: 1px solid #232323;
}
.articles, .other-language{
    // border-right: 1px solid black;
    padding: 20px;
}
.articles {
    border-bottom: 1px solid #232323;
}
body{
    margin: 0px;
    color: #232323;
}

#footer {
    background-color: #1A1A1A;
    color: #BCBCBC;
}

.social-media-line {
    background-color: #D4F361;
}

.personal-name {
    // font-size: 52px;
    // font-weight: 300;
    // text-transform: uppercase;
    // letter-spacing: 2px;
    // margin: 0;
    // line-height: 0.9;
  }

  .personal-titles p {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 22px;
}
  
.tertiary-title {
  font-style: italic;
  margin-top: 5px;
  opacity: 0.4; /* 40% opacity */
}
.footer-personal-name, .footer-org-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  margin: 20px;
  color: #FFFFFF;
}
.footer-name-box, .footer-org {
  border-bottom: 1px solid #AAAAAA;
}
.footer-left-column {
  border-right: 1px solid #AAAAAA;
}

.personal-contacts h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 22px;
}

// media mentions
.articles {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  // text-align: center;
}

h2 {
  margin-top: 34px;
  margin-bottom: 40px;
  color: var(--black, #1A1A1A);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 81%;
}

.media-mentions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.media-mention {
  width: 23%;
  margin: 10px 0;
  // border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  // height: 400px; // Set a fixed height for all media mentions
}

.media-mention img {
  width: 100%;
  height: auto;
  object-fit: cover; // Ensure the image covers the area without distortion
}

.media-mention:hover {
  text-decoration: underline;
  text-decoration-color: #232323;
}

/* Thumbnail specific styling */
// .media-mention img[alt="{{ media_mention.title }}"] {
//   width: 100%;
//   // height: auto;
//   height: 180px;
//   object-fit: cover;
// }

.media-mention-thumbnail {
  width: 100%;
  height: 180px !important;
  object-fit: cover;
}

/* Website logo specific styling */
.media-info img {
  width: 100px;
  height: auto;
  margin: auto;
}

.media-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; // Allow this to grow and take up remaining space
}
.media-mentions a {
  text-decoration: none;
}

.media-mention p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
  flex-grow: 1;
  color: #232323;
}

.media-info-bottom {
  margin-top: auto;
}

hr {
  border: none;
  border-top: 1px solid #AAAAAA;
  margin: 10px 0;
  width: 100%; // Ensure the hr spans the full width
}

.media-info-bottom img {
  display: block;
  margin: 10px auto;
  max-width: 100px;
  height: auto;
  margin-top: 16px;
  margin-right: 0px;
}

.articles button {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 22px;
  background-color: transparent;
  color: black;
  border: 0px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.1s, color 0.1s;
  font-weight: 400;
}

.articles button:hover {
  font-weight: 600;
}

.social-link {
  text-decoration: none;
}

.social-link img {
  border: none;
}

.media-info h3 {
  text-decoration: none;

}

.footer-personal-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  color: #BCBCBC;
  // gap: 4px;
}

.footer-personal-social a {
  display: block;
  color: #BCBCBC;
  text-decoration: none;
  margin-bottom: 10px;
  flex: 1 1 calc(50% - 10px);
}

.footer-personal-social a:hover {
  // text-decoration: underline;
  color: #D4F361;
}


/* CSS for footer personal contacts */
.footer-personal-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.footer-email,
.footer-phone,
.footer-site {
  color: #BCBCBC;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-email img,
.footer-phone img,
.footer-site img {
  margin-right: 8px;
}

.footer-email:hover,
.footer-phone:hover,
.footer-site:hover {
  // text-decoration: underline;
  // color: #BCBCBC;
  color: #D4F361;
}

.footer-personal-titles {
  padding: 20px;
  font-size: 22px;
  color: #FFFFFF;
}

.footer-personal-titles p {
  margin-top: 0px;
  text-transform: uppercase;
}

.footer-personal-titles p:nth-of-type(1) {
  margin-bottom: 20px; // First <p>
}

.footer-personal-titles p:nth-of-type(2), .footer-personal-titles p:nth-of-type(3) {
  margin-bottom: 0px; // Second <p>
}

.tertiary-title-footer {
  margin-top: 5px;
  color: #898989;
  // opacity: 0.4;
}

@media (max-width: 768px) {
  .footer-left-column hr {
    display: none;
  }
}

.ozma-as-title-footer {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #D4F361;
  text-decoration-thickness: 1px;
}

.social-media-line {
  padding: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}


// footer org
// general
.footer-org-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.footer-org-contact-info,
.footer-org-more-info,
.footer-org-media,
.footer-org-other {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-org-info div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-org-contact-info a {
  margin-bottom: 10px;
}


// form
.contact-form {
  width: 280px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  // border-radius: 5px;
  background-color: #f9f9f9;
}

.question-input input {
  width: 280px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 80px;
  font-size: 14px;
}

.send-button button {
  width: 100%;
  padding: 10px;
  background-color: #c6ff01;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  color: #232323;
  font-size: 16px;
}

.send-button button:hover {
  color: #fff;
  border: 1px solid #D4F361;
  background: var(--black, #1A1A1A);
}

// h3
.footer-org-info h3 {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 22px;
}
@media (max-width: 768px) {
  .footer-org-contact-info h3 {
    display: none;
  }
  .footer-org {
    border-bottom: none;
  }
  .footer-org-name {
    margin-bottom: 0px;
  }
}

//links
.footer-link {
  display: block;
  color: #BCBCBC;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-link:hover {
  // text-decoration: underline;
  color: #D4F361;
}


// mobile columns
@media (max-width: 768px) {
    #main-page-content, .footer-column-container {
      flex-direction: column;
  }

  .left-column, .right-column,
  .footer-left-column, .footer-right-column {
    width: 100%;
  }

  .left-column, .footer-left-column {
    order: 1;
  }

  .right-column, .footer-right-column {
    order: 2;
  }

  .footer-left-column {
    border-right: none;
    border-bottom: 1px solid #AAAAAA;
  }

}



.social-link {
  display: inline-block;
}

.icon-hover {
  display: none;
}
.social-link:hover .icon-default {
  display: none;
}
.social-link:hover .icon-hover {
  display: block;
}

// .social-link:hover {
//   .icon-color path {
//     fill: #D4F361;
//   }  
// }