/*

font-family: 'Roboto', sans-serif;

*/

//Fonts

$font-main: 'Roboto', sans-serif;


//Colors

$black: #242424;
$white: #ffffff;
$grey: #bdbdbd;
$grey-light: #d9d9d9;
$footer-contrast-color: #d4f261;
